<div class='overlay'>
    <div class='topContainer'>
        <img src='../media/covers/BR.png' class='image'/>
        <labe class='br-text'>Blu-Ray</label>
    </div>
    <div class='wrapper'>
        <img class='cover' src='$IMGSRC'/>
        <div class='ratingsContainer'><!--RATINGS--></div>
        <div class='contentContainer'>
            <div class='mediainfoContainer'><!--MEDIAINFO--></div>
            <div class='footer'>
                <div class='ageRatingContainer'><!--AGERATING--></div>
                <div class='pcContainer'><!--PRODUCTIONCOMPANIES--></div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="../media/templates/cover.css">
<link rel="stylesheet" href="../media/templates/goodMovies.css">
<link rel="stylesheet" href="../media/templates/bluray.css">
