<!-- If you create a cool template push it to github! :) -->
<div class='wrapper'>
    <img class='cover' src='$IMGSRC'/>
    <div class='ratingsContainer'><!--RATINGS--></div>
    <div class='contentContainer'>
        <div class='mediainfoContainer'><!--MEDIAINFO--></div>
        <div class='footer'>
            <div class='ageRatingContainer'><!--AGERATING--></div>
            <div class='pcContainer'><!--PRODUCTIONCOMPANIES--></div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="../media/templates/cover.css">