.wrapper {
    border: 10px solid rgb(0, 0, 175);
    border-radius: 40px 40px 60px 60px;
    box-sizing: content-box;
    margin-bottom: 20px;
    overflow: hidden;
}

.title {
    font-size: 150px;
    color: yellow;
}

.overlay {
    border: 12px solid rgb(0, 0, 175);
    border-radius: 50px 50px 40px 40px;
    background-color: #3269a8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    height: min-content;
    width: min-content;
    margin: 1px;
}