.wrapper {
    width: 3840 !important;
    height: 2160 !important;
    margin-right: -5px; /* This is needed because it generates a white border on the right*/
}

.source {display: none;}

.ratingText {
    font-size: 160px;
}

.ratingIcon {
    height: 100%;
    width: auto;
    margin-right: 15px;
}
.ratingsContainer {
    padding: 5px;
    width: 300px;
}
.ratingContainer {
    flex-direction: row;}

.mediainfoContainer {
    padding: 15px;
    background-color: #0005; 
}

.mediaInfoImgContainer{
    margin: 10px;
}

.mediainfoIcon {
    transform: rotate(-90deg);
    max-width: 650px;
    max-height: 290px;
    height: 1000px;
    width: auto;
    border-radius: 30px;
}

.certification {
    width: auto;
    height: 400px;
}
.certification:not(:last-child) {
    margin-right: 50px;
}

.certificationsContainer {
    padding: 20px;
    margin: 70px;
    width: min-content;
    height: min-content;
    display: flex;
}

.contentContainer {
    justify-content: flex-start;
    align-items: flex-end;
}
