<div class='wrapper'>
    <img class='cover' src='$IMGSRC'/>
    <div class="ratingsContainer">
        <!--TMDB-->
        <!--IMDB-->
        <!--Trakt-->
        <!--LB-->
        <!--RT-->
        <!--RTA-->
        <!--MTC-->
        <!--TVTime-->
    </div>
    <div class='contentContainer'>
        <div class="mediainfoContainer">
            <!--color-->
            <!--resolution-->
            <!--languages-->
            <!--codec-->
            <!--source-->
        </div>
        <div class='certificationsContainer'>
            <!--RTCF-->
            <!--MTC-MS-->
        </div>
    </div>
</div>

<link rel="stylesheet" href="../templates/cover.css">
<link rel="stylesheet" href="../templates/backdrop.css">

