.wrapper {
    background-color: black;
    position: relative;
    display: flex;
    box-sizing: content-box;
    width: 2000px;
    height: 3000px;
    overflow: hidden;
} 

.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.ratingsContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: min-content;
    height: 100%;
    padding: 10px;
    position: relative;
    flex-direction: column;
    background-color: #0009;
    box-sizing: content-box;
    
}

.SDR {display: none !important;}

.ratingsContainer:empty {
    width: 0;
    min-width: 0;
    padding: 0;
}

.ratingIcon {width: 200px}

.ratingText {
    font-size: 135px;
    color: white;
}

.ratingContainer {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0px;
}

.mediainfoContainer {  
    height: 250px;
    width: 100%;
    max-width: 100%;
    background-color: #0007; 
    padding: 10px;
    display: flex;
}

.mediainfoContainer:empty {height: 0;}

.mediainfoImgContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0px
}

.mediainfoIcon {
    max-height: 100%;
    max-width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    flex-wrap: wrap;
}

.pcContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 100%;
    width: max-content;
    margin: 0 25px 0 auto;
    padding: 20px;
}

.producionCompany {
    width: auto;
    max-width: 400px;
    margin-left: 20px;
    max-height: 200px;
    background-color: #fff2;
} 

.ageRatingIcon {
    height: 450px;
    margin: 30px;
    width: auto; 
    
}

.ageRatingIcon * {fill: red}

.contentContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

* {
    z-index: 10;
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

body { 
    margin: 0; 
}