<!-- If you create a cool template push it to github! :) -->
<div class="wrapper">
    <img class="cover" src="$IMGSRC"/>
    <div class="ratingsContainer">
        <!--TMDB-->
        <!--IMDB-->
        <!--MTC-->
        <!--RE-->
        <!--RT-->
        <!--LB-->
        <!--RTA-->
        <!--Trakt-->
        <!--TVTime-->
    </div>
    
    <div class="contentContainer">
        <div class="mediainfoContainer">
            <!--color-->
            <!--resolution-->
            <!--language-->
            <!--codec-->
            <!--source-->
        </div>
        <div class="footer">
            <div class="ageRatingContainer" style="display: none;">
                <!--AGERATING-->
            </div>
            <div class="pcContainer">
                <!--PRODUCTIONCOMPANIES-->
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="../templates/cover.css">