.wrapper {
    border: 12px solid rgb(0, 0, 175);
    border-radius: 20px;
    box-sizing: content-box;
    overflow: hidden;
    margin-left: 22px;
    border-bottom-width: 0;
}

.title {
    font-size: 150px;
    color: yellow;
    align-self: center;
}

.overlay {
    border: 12px solid rgb(0, 0, 175);
    background-color: #3873aa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 3175px;
    width: 2116px;
}